:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
}
ul {
  list-style: none;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing);
  background-color: var(--black-color);
  color: var(--white-color);
}
header .logo {
  font-size: var(--font-sma);
}
header .logo i {
  font-size: var(--font-large);
  color: var(--red-color);
}
header .icons {
  font-size: var(--font-medium);
}
header .icons .fa-search {
  margin-right: var(--spacing);
}
.player {
  /* position: sticky; */
  /* top: 0; */
  text-align: center;
  background-color: var(--black-color);
}
.player video {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
}
.infoAndUpNext .info {
  padding: var(--spacing);
}

.infoAndUpNext .info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}
.infoAndUpNext .info .metadata .hashtags li {
  margin-right: var(--spacing);
}

.info .metadata .titleAndButton {
  display: flex;
  /* justify-content: space-between; */
}
.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
  margin-right: var(--spacing);
}
.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}
.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}
.info .metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
/* action buttons */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--spacing) 0;
}
.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.info .actions button i {
  margin: 0 auto;
  margin-bottom: var(--spacing-small);
  font-size: var(--font-regular);
}
.info .actions button i.active {
  color: var(--blue-color);
}
